<html>
  <head>
    <script type="text/javascript" src='/static/js/main.js'></script>
    <link rel="stylesheet" href='/static/css/main.css' />
    <link type='text/css' href='http://fonts.googleapis.com/css?family=Lato:400,700' />
  </head>
  <body>
    
    <div class="site-logo">
            <img src="/static/images/wayne.jpg" alt="logo">
            <p>If you would like to join Wayne Enterprises, please upload your resume in the below link and we will match your resumes with our job opportunities and reach out to you if your application is successful.</p>
    </div>
    <form action = "" method = "POST" enctype = "multipart/form-data">
    <div class='file-input'>
        <input type='file' name='file' accept=".pdf">
        <span class='button'>Choose</span>
        <span class='label' data-js-label>No file selected</label>
    </div>
    <div class='choose-checkbox'>
      <input type='checkbox' name='want-daily-emails'/>
      <label for='want-daily-emails'>Would you like to get daily updates via email on the status of your application?</label>
    </div>
    <div class='submitting'>
        <input type = "submit" value='Submit'/>
    </div>
    </form>

    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
  </body>
</html>